<div id="wrapper" class="home-page">
	<!-- Slider -->
	<section>
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="~/img/slides/slide1n.png" alt="" />
                <div class="flex-caption">
                    <h3>Специалисти на ваше разположение</h3> 
                </div>
              </li>
              <li>
                <img src="~/img/slides/slide2n.jpg" alt="" />
                <div class="flex-caption">
                    <h3>За по-добра грижа</h3> 
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
 
	</section> 
	<section id="call-to-action-2">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-sm-9">
					<h2>Добре дошли в Ask A Doc</h2>
				</div>
			</div>
		</div>
	</section>

	
	<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="about-text">
						<ul id="AboutUs">
							<li>Повече опит</li>
							<li>Точна диагноза</li>
							<li>Вие сте на първо място</li>
							<li>Иновация с въздействие</li>
						</ul>
						
						<div class="about-image" id="AboutImg">
						<img src="~/img/aboutUs.jpg" alt="About Images">
					
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
</div>
<a href="#" class="scrollup"><i cla ss="fa fa-angle-up active"></i></a>
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery.easing.1.3.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.fancybox.pack.js"></script>
<script src="~/js/jquery.fancybox-media.js"></script>  
<script src="~/js/jquery.flexslider.js"></script>
<script src="~/js/animate.js"></script>
<!-- Vendor Scripts -->
<script src="~/js/modernizr.custom.js"></script>
<script src="~/js/jquery.isotope.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/animate.js"></script>
<script src="~/js/custom.js"></script>