@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>This site is being developed by Vasilena Adamova, Viktor Kadijski, Dayana Bozova, Nikol Marinkova and Viktor Kolev.</p>
